#entrada-cor{
    color: green;
}

#flex{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    color: white;
}

#bttn1{
    background-color: #6F52ED;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 15px;
    cursor: pointer;
}

#margin{
    margin-right: 50px;
    font-size: 20px;
}

#entradas-e-saidas{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #c9c9d1;
    margin-top: 10px;
    padding: 15px;
    font-family: sans-serif;
}

#op{
    width: 100%;
}

#saida-cor{
    color: red;
}

#saidas-hist{
    height: 400px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 6px #EDEDF6;
    overflow-y: scroll;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

#saidas-hist::-webkit-scrollbar {
    width: 5px;
}

#saidas-hist::-webkit-scrollbar-track {
    background: transparent;
}


#saidas-hist::-webkit-scrollbar-thumb {
    background: #DADCE4;
    border-radius: 10px;
}

#saidas-hist::-webkit-scrollbar-thumb:hover {
    background: #9d9ea5;
}


table, th, td {
    border-bottom: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 100%;
}

#inputs{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    text-align: center;
}
